// COLORS
$primary-color: #FFFFFF;
$text-color: #FCFCFC;
$text-color-second: black;
$dark-overlay: rgba(0, 0, 0, 0.4);
$text-login-color: black;
$sub-color: #6c757d;
$product-title: #505050;
$background: linear-gradient(135deg, #020617, #0f172a, #0f3a4a);

// FONT
$font-main: "Roboto",
sans-serif;

// LAYOUT
$container-width: 1440px;
$header-height: 80px;